*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: "Merriweather", serif;
    background: #f9fafc;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.navbar_brand{
    width: 100px;
}
.navbar_logo{
    width: 100%;
}
.nav_item{
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 50%, #ff512f 100%);
    color: #fff;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    /* animation-name: example;
    animation-duration: infinite; */
}

.nav_item:hover{
    cursor: pointer;
    background-image: linear-gradient(to left, #dd2476 0%, #ff512f 50%, #dd2476 100%);
    /* animation-name: example;
    @keyframes example {
        0%   {background-color: red;}
        25%  {background-color: yellow;}
        50%  {background-color: blue;}
        100% {background-color: green;}
      } */
    
    
}

@media (min-width:768px) {
    .navbar{
        justify-content: space-between;
        padding: 10px 30px;
    }
}

@media (min-width:1024px){
    .navbar{
        padding: 10px 50px;
    }
    .navbar_brand{
        width: 150px;
    }
    .navbar_logo{
        font-family:bold;
        padding: 20px;
        font-size: 20px;
    }
}